.custom-checkbox {
    appearance: none;
    background-color: #080707; /* Change to your desired color */
    border: 1px solid #f5f105;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    position: relative; /* Ensure the pseudo-element is positioned relative to the checkbox */
  }
  
  .custom-checkbox:checked {
    background-color: #eb780c; /* Change to your desired color */
    border-color: #fbbf24; /* Change to your desired color */
  }
  
  .custom-checkbox:checked::after {
    content: '✔'; /* Checkmark character */
    color: rgb(224, 26, 26); /* Change to your desired color */
    font-size: 0.75rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }